repos:
  #####
  # Basic file cleanliness
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
        args: [--unsafe]
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  #####
  # Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      # Run the linter
      - id: ruff-check
      # Run the formatter
      - id: ruff-format
  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
  #####
  # Quarto
  - repo: local
    hooks:
      - id: format-qmd-python
        name: Format Python in QMD
        entry: python docs_scripts/quarto_python_formatter.py "-q --line-length 79"
        language: python
        files: \.qmd$
        additional_dependencies: [ruff]
  #####
  # Secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: package.lock.json
  ####
  # Typos
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        args: ["--force-exclude"]
